{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% set header = 'position-relative' %}

{% block body %}
    <div class="container">
        {% for product in products %}
            {% if loop.index == 1 %}
                <hr>
            {% endif %}
            <div class="row d-flex align-items-center my-3">
                <div class="col-auto">
                    {{ product['product'].id }}
                </div>
                <div class="col-auto">
                    {% if product['product'].images|length > 0 %}
                        <img src="{{ asset('products/images/alias/small/' ~ product['product'].images[0]) }}" alt="{{ product['product'].brand }}">
                    {% else %}
                        <img class="img-fluid" src="http://placehold.it/100x100">
                    {% endif %}
                </div>
                <div class="col">{{ product['product'].subCategory }} - {{ product['product'].brand }}</div>
                <div class="col">
                    <h6 class="d-block">Qty</h6>
                    <span class="font-weight-bold">{{ product['qty'] }}</span>
                </div>
                <div class="col">
                    {% set discountPrice = (product['product'].price - (product['product'].price * product['product'].discount) / 100) %}
                    {% set regularPrice = (product['qty'] * product['product'].price) %}
                    {% if product['product'].discount > 0 %}
                        {{ (discountPrice * product['qty'])|number_format(2, '.', ',') }} RSD
                    {% else %}
                        {{ (regularPrice * product['qty'])|number_format(2, '.', ',') }} RSD
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
        <div class="row">
            Total:
        </div>
    </div>
{% endblock %}